*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    
}
header{
    padding: 2rem 1.5rem ;
    width: 100%;

}
main{
    padding: 0 1.5rem ;
}
nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1224px;
    margin: 0 auto;
}
a{
    color: #1a1818;
    text-decoration: none;
}
.logo{
    font-size: 40px;
    font-family: fantasy;
    color: purple;
}
.menu{
    display: flex;
    list-style: none;
    gap: 1rem;
}
section{
    width: 100%;
    max-width: 1224px;
    margin: 0 auto;
    overflow: clip;
}
.hero{
    background-color: #fae0b1;
    height: 500px;
    border-radius: 1.5rem;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    background-image:url(/images/image\ \(1\).jpg) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.hero_container{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
h1{
    font-size: 2.986rem;
    color: #f6d2fd;
}
.hero_container>p{
    color: #f3f3f3;
}
p{
    font-size: 1rem;
    text-wrap: balance;

}
.cta{
    text-decoration: underline;
    margin-top: 2rem;
    color: #fff1fe;
}

/* .link{
} */
/* section{
    display: grid;
    grid-template-columns:repeat(6,1fr) ;
    grid-template-rows: repeat(20,150px);
    gap: 10px;
} */

.title_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem 0 2rem;
}
h2{
    font-size: 2.488rem;
    color: purple;
}
.cards_container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    margin: 0 auto;
    padding: 2rem 0;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 0.75rem;
}
.card_content p{
    font-weight: bold;
}
.card_content span{
    font-size: 0.833rem;
}
.card_btn{
    border: none;
    background: #ecaceca4;
    padding: 0.50rem 0.75rem;
    border-radius: 0.25rem;
    cursor: pointer;
    
}

footer{
    flex-shrink: 0;
    width: 100%;
    background: #f1F1F1;
    color: #333;
    border-top: 1px dashed #000;
}

.footer{
    /* display:grid;
    grid-template-columns:repeat(6,1fr) ;
    grid-template-rows: repeat(3,150px);
    gap: 10px; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 2rem;
    width: 100%;
    margin: 0 auto;
    gap: 2rem;

}
form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.t0{
    font-size: 20px;
    font-family: sans-serif;
    color: purple;
    margin-bottom: 1rem;
}
.t1{
    font-size: 15px;
    font-family: sans-serif;
    color: gray;
    width: 300px;
    
}
.t2{
    font-size: 20px;
    font-family: sans-serif;
    color: purple;
}
.t8{
    font-size: 20px;
    font-family: sans-serif;
    color: purple;
}
#t4{
    width: 250px;
    background: none;
    border-top-left-radius: none;
    border-top-right-radius: none;
    border-top: none;
    height: 40px;
    border: none;
    border-bottom: 2px solid gray;
    
}
#t5{

    width: 250px;
    background: none;
    border-top-left-radius: none;
    border-top-right-radius: none;
    border-top: none;
    height: 40px;
    border: none;
    border-bottom: 2px solid gray;

}
#t6{
    width: 250px;
    background: none;
    border-top-left-radius: none;
    border-top-right-radius: none;
    border-top: none;
    height: 40px;
    border: none;
    border-bottom: 2px solid gray;
}
#t7{
    width: 250px;
    background: none;
    border-top-left-radius: none;
    border-top-right-radius: none;
    border-top: none;
    height: 40px;
    border: none;
    border-bottom: 2px solid gray;
}
#t8{
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background: purple;
    color: white;
    cursor: pointer;
}

@media (min-width: 576px) and (max-width: 767.98px){
    .cards_container{
        grid-template-columns: repeat(2, 1fr);

    }
    .footer{
        grid-template-columns: repeat(1,1fr);
    }
}

@media (max-width: 575.98px){
    .cards_container{
        grid-template-columns: repeat(1, 1fr);
    }
    .footer{
        grid-template-columns: repeat(1,1fr);
    }
}