*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,html{
    font-family: sans-serif;
    scroll-behavior: smooth;
    
}
header{
    padding: 2rem 1.5rem ;
    width: 100%;

}
main{
    padding: 0 1.5rem ;
}
nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1224px;
    margin: 0 auto;
    
}
a{
    color: #1a1818;
    text-decoration: none;
}
.logo{
    font-size: 40px;
    font-family: fantasy;
    color: purple;
}
.menu{
    display: flex;
    list-style: none;
    gap: 1rem;
}
section{
    width: 100%;
    max-width: 1224px;
    margin: 0 auto;
    overflow: clip;
}
.hero{
    background-color: #fae0b1;
    height: 500px;
    border-radius: 1.5rem;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    background-image:url(2.jpg) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.hero2{
    background-color: #fae0b1;
    height: 500px;
    border-radius: 1.5rem;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    background-image:url(makeup.jpg) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.hero3{
    background-color: #fae0b1;
    height: 500px;
    border-radius: 1.5rem;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    background-image:url(CC.png) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.hero_container{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
h1{
    font-size: 2.986rem;
    color: #f6d2fd;
}
.hero_container>p{
    color: #f3f3f3;
}
p{
    font-size: 1rem;
    text-wrap: balance;
    

}
.cta {
    text-decoration: underline;
    margin-top: 2rem;
    color: #fff1fe;
    
    
}

/* .link{
} */
/* section{
    display: grid;
    grid-template-columns:repeat(6,1fr) ;
    grid-template-rows: repeat(20,150px);
    gap: 10px;
} */

.title_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem 0 2rem;
}
h2{
    font-size: 2.488rem;
    color: purple;
    
}
.cards_container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    margin: 0 auto;
    padding: 2rem 0;
   
   
}
.card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.4s;
    
}

.card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 0.75rem;
}
.card:hover{
    transform: translateY(-10px);
}
.card_content p{
    font-weight: bold;
}
.card_content span{
    font-size: 0.833rem;
}
.card_btn{
    border: none;
    background: #ecaceca4;
    padding: 0.50rem 0.75rem;
    border-radius: 0.25rem;
    cursor: pointer;
    
}
h4{
    font-size: 2.488rem;
    color: purple;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
    
}


.card2{
    
    width: 100%;
    height: 400px;
    object-fit: cover;
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    background-color: #fae0b1;
    background-image: url(image\ \(1\).jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 3rem;
}
.card2_container{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color:white;
}
.makeup{
    padding: 1rem 0;
}
.makeup__cards-container{
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
}
.makeup__title{
    text-align: center;
}
.makeup__cards-container>.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 0.75rem;
}
.cards_btn{
    background: #ecaceca4;
    
    color: #000;
    padding: 10px 25px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border-radius: 0.75rem;
    
    
}

.cards_btn:hover{
    background-color: rgb(252, 117, 162);
}
.section_produits{
    padding: 40px 3%;
}
.produits{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;

}
.produits .cards{
    background: #f5f5f5;
    /* box-shadow: 0 10px 20px rgba(0,0,0,0.5); */
    border-radius: 0.75rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 70px;
    transition: transform 0.2s ease-in-out;
}
.produits .cards img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 0.75rem;
}
.produits .cards:hover{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    transform: translateY(-5px);
}
.produits .cards .description{
    padding: 5px 20px;
    opacity: 0.8;
}
.produits .cards .titre{
    font-weight: 900;
    font-size: 20px;
    color: #000;
    padding: 0 20px;
}
.produits .cards .box{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.produits .cards .prix{
    color: brown;
    font-size: 20px;
    font-weight: bold;
    
}
.produits .cards .achat{
    font-size: 13px;
    font-weight: 900;
    color: brown;
    padding: 10px 18px;
    border-radius: 5px;
}
.produits .cards .box .achat:hover{
    cursor: pointer;
    background: black;
    color: white;
}

.container{
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product{
    max-width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 10px;

}
.img-learn{
    width: 200px;
    border-radius: 0.75rem;
    
}
.add_btn{
    background: plum;
    color: #000;
    padding: 10px 25px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin: 10px 0px;
    border-radius: 0.75rem;
}
.add_btn:hover{
    background-color: rgb(252, 117, 162);
}
.description p{
    text-align: justify;
    margin-top: 20px;
}
footer{
    flex-shrink: 0;
    width: 100%;
    background: #f1F1F1;
    color: #333;
    border-top: 1px dashed #000;
}


.footer{
    /* display:grid;
    grid-template-columns:repeat(6,1fr) ;
    grid-template-rows: repeat(3,150px);
    gap: 10px; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 2rem;
    width: 100%;
    margin: 0 auto;
    gap: 2rem;

}
form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.t0{
    font-size: 20px;
    font-family: sans-serif;
    color: purple;
    margin-bottom: 1rem;
}
.t1{
    font-size: 15px;
    font-family: sans-serif;
    color: gray;
    width: 300px;
    
}
.t2{
    font-size: 20px;
    font-family: sans-serif;
    color: purple;
}
.t3{
    display: flex;
}
svg {
    margin-top: 20px;
    margin-left: 10px;
}
.t8{
    font-size: 20px;
    font-family: sans-serif;
    color: purple;
}
#t4{
    width: 250px;
    background: none;
    border-top-left-radius: none;
    border-top-right-radius: none;
    border-top: none;
    height: 40px;
    border: none;
    border-bottom: 2px solid gray;
    
}
#t5{

    width: 250px;
    background: none;
    border-top-left-radius: none;
    border-top-right-radius: none;
    border-top: none;
    height: 40px;
    border: none;
    border-bottom: 2px solid gray;

}
#t6{
    width: 250px;
    background: none;
    border-top-left-radius: none;
    border-top-right-radius: none;
    border-top: none;
    height: 40px;
    border: none;
    border-bottom: 2px solid gray;
}
#t7{
    width: 250px;
    background: none;
    border-top-left-radius: none;
    border-top-right-radius: none;
    border-top: none;
    height: 40px;
    border: none;
    border-bottom: 2px solid gray;
}
#t8{
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background: purple;
    color: white;
    cursor: pointer;
}

@media (min-width: 576px) and (max-width: 767.98px){
    .cards_container{
        grid-template-columns: repeat(2, 1fr);

    }
    .footer{
        grid-template-columns: repeat(1,1fr);
    }
}

@media (max-width: 575.98px){
    .cards_container, .makeup__cards-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
    .footer{
        grid-template-columns: repeat(1,1fr);
    }
}